
@import url('https://fonts.googleapis.com/css?family=Oswald|Ramabhadra&display=swap');

/*-------------------------Background picture---------------------------*/

html, body {
    background: linear-gradient( rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)),  url(../images/background-picture.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

/*----------------------------Header--------------------------------*/

#sweden-logo {
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(8.83deg);
    margin-top: 10px;
    width: 70px;
}

header {
    margin: 0;
}

#headline {
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    /*margin-top: 50px;*/
    color: rgb(3, 64, 2);
    margin-left: 20px;
}

#underline {
    
    display: block;
    margin-left: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: rgb(3, 64, 2);
}

/*-------braking point for tablet and iphone------*/
/*
@media only screen and (max-width: 600px) {
    .headline {
        margin-left: 50px;
        font-size: 30px;
    }
    
}

@media only screen and (max-width: 600px) {
    .underline {
        margin-left: 50px;
        font-size: 15px;
    }
    
}

/*----------------------------Section--------------------------------*/
.section-frame {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

/*-----------------------section-frame-links--------------------------*/
.interactive-links {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 5px;
}

.interactive-links p{
    font-size: 1.2rem;
}

#p-padding-one {
    padding-inline-end: 20px;
    padding-left: 10px;
}

#p-padding-two {
    padding-inline-end: 20px;
}

.interactive-links p, i{
    color: rgb(3, 64, 2);
    display: inline;
}

.interactive-links span {
    font-family: 'Oswald', sans-serif;
}
/*--------------------------------------------------------------------*/

.information-container {
    background: rgba(3, 64, 2, 0.47);
    border-radius: 25px;
    padding: 10px; 
    min-height: 350px;
    margin-bottom: 20px;
}

.map-container {
    border-radius: 25px;
    padding: 20px; 
    height: 150px;
}

#map {
    min-height: 350px;
}

/*-----------------------------search---------------------------------*/
/*-----------------------------notes---------------------------------*/

.notes_wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Oswald', sans-serif;
}

.notes_wrapper h2 {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: #F5F4EF;
}

.btn {
    font-size: 0.9rem;
    border: none;
    background-color: transparent;
    color: #F5F4EF;
    cursor: pointer;
}

.btn:hover {
    background: rgb(197, 196, 189);
    
}

.note_form {
    border-radius: 8px;
    padding: 10px; 
    max-height: 300px;
    min-height: auto;
    margin-bottom: 20px;
    background-color: #F5F4EF;
}


/*-----------------------------contact---------------------------------*/

.contact_wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Oswald', sans-serif;
}

.contact_wrapper h2 {
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: #F5F4EF;
}

.contact_wrapper p {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #F5F4EF;
}

.contact_wrapper .input_field {
    margin-bottom: 5px;
    
}

#form {
    text-align: center;
}

.contact_wrapper .input_field input[type="text"],
.contact_wrapper textarea {
    width: 80%;
    border-radius: 8px;
    border: 1px solid #F5F4EF;
    padding: 5px;
}

.contact_wrapper textarea {
    height: 90px;
    resize: none;
}

.contact_wrapper .btn input[type="submit"] {
    border: 0;
    border-radius: 8px;
    padding:8px;
    width: 100px;
    background-color: #F5F4EF;
    cursor: pointer;
}
.contact_wrapper .btn input[type="submit"]:hover{
    background: rgb(197, 196, 189);
    transition:  0.5s ease-in;
}

.contact_wrapper #error_message {
    margin-bottom: 20px;
    padding: 0px;
    background: rgba(211, 81, 58, 0.432);
    color: #F5F4EF;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
/*-----------------------------Footer---------------------------------*/

#footer {
    background: rgba(3, 64, 2, 0.47);
    position: relative;
    height: fit-content;
    clear: both;
    text-align: center;
    padding-top: 20px;   
}

.general-sub {
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
}

.sub-text {
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
}
#sub-text-font{
    color: #F5F4EF;
}

.social-links  li a i {
    color: #F5F4EF;
    font-size: 40px;
    text-align: center;
}

.social-links li a i:hover{
    color: rgb(77, 77, 77);
}