
@import url('https://fonts.googleapis.com/css?family=Oswald|Ramabhadra&display=swap');

/*-------------------------Background picture---------------------------*/

html, body {
    background: linear-gradient( rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)),  url(../images/background-picture.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

/*----------------------------Header--------------------------------*/

img {
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(8.83deg);
    margin-top: 10px;
    width: 70px;
}

header {
    margin: 0;
}

#headline {
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    /*margin-top: 50px;*/
    color: rgb(3, 64, 2);
    margin-left: 20px;
}

#headline span {
    margin-left: 20px;
    display: block;
    font-weight: 200;
    font-size: 1.2rem;
}

#underline {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    margin-left: 25px;
    /*margin-top: 15px;*/
    /*margin-bottom: 20px;*/
    color: rgb(3, 64, 2);
}

/*-------braking point for tablet and iphone------*/
/*
@media only screen and (max-width: 600px) {
    .headline {
        margin-left: 50px;
        font-size: 30px;
    }
    
}

@media only screen and (max-width: 600px) {
    .underline {
        margin-left: 50px;
        font-size: 15px;
    }
    
}

/*----------------------------Section--------------------------------*/
.section-frame {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.interactive-links {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 5px; 
    margin-right: 10px;
}

.interactive-links span, a{
    color: rgb(3, 64, 2);
}


.information-container {
    background: rgba(3, 64, 2, 0.47);
    border-radius: 25px;
    padding: 20px; 
    min-height: 340px;
}

.map-container {
    border-radius: 25px;
    padding: 20px; 
    height: 150px;
}

#map {
    min-height: 340px;
}


/*-----------------------------Footer---------------------------------*/

#footer {
    background: rgba(3, 64, 2, 0.47);
    position: relative;
    height: fit-content;
    clear: both;
    text-align: center;
    padding-top: 20px;   
}

.general-sub {
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
}

.sub-text {
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
}

.social-links  li a i {
    color: #F5F4EF;
    font-size: 40px;
    text-align: center;
}

.social-links li a i:hover{
    color: rgb(77, 77, 77);
}