
@import url('https://fonts.googleapis.com/css?family=Oswald|Ramabhadra&display=swap');

/*-------------------------Background picture---------------------------*/

html, body {
    background: linear-gradient( rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.24)),  url(../images/background-picture.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

/*----------------------------Header--------------------------------*/

#sweden-logo {
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(8.83deg);
    margin-top: 10px;
    width: 70px;
}

header {
    margin: 0;
}

#headline {
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    /*margin-top: 50px;*/
    color: rgb(3, 64, 2);
    margin-left: 20px;
}

#underline {
    display: block;
    margin-left: 37px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    color: rgb(3, 64, 2);
}

#headline-container{
    padding-top: 30px;
    padding-left: 80px;
}

/*-------braking point for tablet and iphone------*/
@media only screen and (max-width: 414px) {
    /*making it smaller in mobile view*/
    #headline-container {
        text-align: center;
        padding-top: 30px;
    }
    #headline{
        font-size: 2.8rem;
    }
    #underline {
        text-align: center;
        font-size: 1rem;
    }
}
@media only screen and (max-width: 367px){
    #headline{
        font-size: 2.2rem;
    }
    #underline{
        margin-left: 18px;
    }
}

/*----------------------------Section--------------------------------*/
.section-frame {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

/*-----------------------section-frame-links--------------------------*/
.interactive-links {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 5px;
}

.interactive-links div{
    font-size: 1.2rem;
}

#search-header {
    padding-inline-end: 20px;
    padding-left: 10px;
}

#notes-header{
    padding-inline-end: 20px;
}

.interactive-links div, i{
    color: rgb(3, 64, 2);
    display: inline;
}

.interactive-links span {
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}
/*--------------------------------------------------------------------*/

.display-container {
    background: rgba(3, 64, 2, 0.47);
    border-radius: 25px;
    padding: 10px; 
    min-height: 420px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 414px) {
    /*making it smaller in mobile view*/
    .display-container {
        min-height: 100px;
    }
}

.map-container {
    border-radius: 25px;
    padding: 20px; 
    height: 150px;
}

#map {
    min-height: 420px;
}

/*--------------------------search menu container-----------------------------*/

.search_wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Oswald', sans-serif;
}
.search_wrapper {
    padding: 10px; 
}
/*----------------controls-reset-category---------------*/
.pac-card {
    /*margin: 10px 10px 0 0;*/
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
    background-color: #F5F4EF;
    border-radius: 8px;
    width: 80%;
}

.pac-controls label {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

#locationField{
    border: none;
    width: 100%;
    background-color: #F5F4EF;
}

#autocomplete{
    background-color: #F5F4EF;
    border: none;
    width: 100%;
}

#resetBtn {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

#resetBtn i {
    color: #F5F4EF;
    font-size: 1.2rem;
}

.category-container{
    width: 100%;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #F5F4EF;
}

.category-container #controls {
    background-color: #F5F4EF;
    width: 100%;
    border: none;
}

#category {
    background-color: transparent;
    border: none;
    width: 100%;
}

#locationContainer {
    padding: 10px; 
    overflow-x: hidden; 
    overflow-y: auto;
    max-height: 180px;
    min-height: 292px;
    resize: none;
}
@media only screen and (max-width: 414px) {
    /*hide the #locationContainer displaing the results in mobile view*/
    #locationContainer {
        display: none;
    }
}
/*------------------Result box----------------------*/
#information-headline{
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
    text-align: center;
    padding-top: 15px;
    
}
#information-undrline{
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
    text-align: center;
    padding-top: 10px;
}

#results-heading{
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
    padding-bottom: 10px;
}
#results {
    border-radius: 8px;
    padding: 10px; 
    max-height: 180px;
    min-height: 250px;
    color: #F5F4EF;
}

/* result icon*/
.placeIcon{
    padding-right: 5px;
}

/*-------------info-content displayed in google maps-------------------*/

/*google map info box*/
.gm-style-iw {
    border: 2px solid rgba(3, 64, 2, 0.47);
    font-family: 'Oswald', sans-serif;
    color: rgba(3, 64, 2, 0.897);
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
  }
  .iw_table_row {
    height: 18px;
  }
  .iw_attribute_name {
    font-weight: bold;
    text-align: right;
  }
  .iw_table_icon {
    text-align: right;
  }
/*-------------------------------------------------------------------*/
/*--------------------------notes form box---------------------------*/

.notes_wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.inputDiv {
    font-family: 'Oswald', sans-serif;
    border-radius: 8px;
    padding: 10px; 
    max-height: 300px;
    min-height: auto;
}

.input {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    padding: 10px;
    background-color: #F5F4EF;
    resize: none;
}
.note-button{
    text-align: center;
    padding-top: 5px;
}
.btnSave {
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 8px;
    font-size: 0.9rem;
    background-color: #F5F4EF;
    padding:5px;
    width: 90px;
    border: none;
}

.notesbox{
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden; 
    overflow-y: auto;
    max-height: 200px;
    min-height: 250px;
    resize: none;
}

@media only screen and (max-width: 414px) {
    /*making .notesbox smaller in mobile view*/
    .notesbox {
        min-height: 160px;;
    }
}

.noteContainer {
    font-family: 'Oswald', sans-serif;
    border-radius: 8px;
    padding: 10px; 
    max-height: 200px;
    min-height: 200px;
}
/*---------------------notes---------------*/
.item_input {
    width: 88%;
    height: 35px;
    border-radius: 8px;
    background-color: #DFD2AE;
    margin-bottom: 5px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.644);
    border: none;
}

.item {
    resize: none;
    background: none;
    border: none;
    height: 40px;
    background-color: #DFD2AE;
    margin-bottom: 5px;
    border-radius: 8px;
}

.remove{
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: none;
}
.remove i {
    color: #000000;
}
/*-------------------------------------------------------------------*/
/*--------------------------contact form box-------------------------*/

.contact_wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Oswald', sans-serif;
}

.contact_wrapper h2 {
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: #F5F4EF;
}

.contact_wrapper p {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #F5F4EF;
}

.contact_wrapper .input_field {
    margin-bottom: 5px;
}

#form {
    text-align: center;
}

.contact_wrapper .input_field input[type="text"],
.contact_wrapper textarea {
    width: 80%;
    border-radius: 8px;
    border: 1px solid #F5F4EF;
    padding: 5px;
}

.contact_wrapper textarea {
    height: 90px;
    resize: none;
}

.contact_wrapper .btn input[type="submit"] {
    border: 0;
    border-radius: 8px;
    padding:5px;
    width: 90px;
    background-color: #F5F4EF;
    cursor: pointer;
}

.contact_wrapper .btn input[type="submit"]:hover{
    background: rgb(197, 196, 189);
    transition:  0.5s ease-in;
}

#errorMessage {
    margin-bottom: 13px;
    padding: 0px;
    background: rgba(211, 81, 58, 0.432);
    color: #F5F4EF;
    text-align: center;
    font-size: 16px;
    transition: all 0.5s ease;
}
/*-----------------------------Footer---------------------------------*/

#footer {
    background: rgba(3, 64, 2, 0.47);
    /*position: relative;*/
    height: fit-content;
    clear: both;
    text-align: center;
    padding-top: 20px;   
}

.general-sub {
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
}

.sub-text {
    font-family: 'Oswald', sans-serif;
    color: #F5F4EF;
}

.sub-text-font{
    color: #F5F4EF;
}

.social-links  li a i {
    color: #F5F4EF;
    font-size: 40px;
    text-align: center;
}

.social-links li a i:hover{
    color: rgb(77, 77, 77);
}
